name: Test

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

permissions:
  id-token: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: "^1.21"
          check-latest: true
      - uses: actions/cache@v5
        with:
          key: ${{ runner.os }}-${{ hashfiles('go.sum') }}
          path: |
            ~/go
      - name: Test
        run: |
          go test -coverprofile=coverage.out -v ./...
      - name: Upload coverage to Qlty
        uses: qltysh/qlty-action/coverage@v2
        with:
          oidc: true
          files: coverage.out
